@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1,.tableHeading {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: max(3vw,30px);	
}

.tableHeading {
	font-size: max(2vw,20px);
}

.tableText{
	font-size: max(1.57vw,20px);
	font-family: 'Lato', sans-serif;
}




