@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.tableHeading {
	font-size: max(2vw,20px);
	font-family: 'Montserrat', sans-serif;
}

.tableText{
	font-size: max(1.24vw,20px);
	font-family: 'Lato', sans-serif;
}
